<html>
   <head>
      <script src="https://use.fontawesome.com/f4c502007a.js"> </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
      <link rel="stylesheet" href="/styles.css">
      <style>
         body { text-align: center; }
      </style>
   </head>
   <body class="full-screen flex-center">
      <h1 class="text-xl">Crypto trading bot</h1>

      <h3>This website recieves a webhook from Tradingview, with a trade indicator. <br>This indicator gives signals when to enter/exit a trade</h3>
      <br><br>

      <h3>USDT balance: ${{usdt_balance}}</h3>
   <br>
   
      
      <table class="table table-sm" style="border:1px solid black;margin-left:auto;margin-right:auto;">
         <h3>Active trades</h3>
         <thead>
            <tr class="table-success">
               <th scope="col">ID</th>
               <th scope="col">Coin pair</th>
               <th scope="col">Profit $</th>
               <th scope="col">Rate</th>
               <th scope="col">Interval</th>
               <th scope="col">Quantity</th>
               <th scope="col">Value $</th>
               <th scope="col">Side</th>
               
            </tr>
         </thead>
         {% for trade in active_trades %}
         <tbody>
            <tr style="background-color: aliceblue" class="table-primary">
               <th scope="row"> {{ trade.time_now }} </th>
               <td> {{ trade.coinpair }} </td>
               <td> {{ trade.profit }} </td>
               <td> {{ trade.coin_rate }} </td>
               <td> {{ trade.interval }} </td>
               <td> {{ trade.quantity }} </td>
               <td> {{ trade.portion_size }} </td>
               <td> {{ trade.side }} </td>               
            </tr>
            {% endfor %}
         </tbody>
      </table>

<table class="table table-sm" style="border:1px solid black">

   <thead>
      <tr class="table-success">
         <th scope="col">Total profit $</th>
         <th scope="col">{{ current_profit }}</th>
      </tr>
   </thead>


  </table>
      <br>
      <table class="table table-sm" style="border:1px solid black;margin-left:auto;margin-right:auto;">
         <h3>Exit trades</h3>
         <thead>
            <tr class="table-success">
               <th scope="col">ID</th>
               <th scope="col">Coin pair</th>
               <th scope="col">Interval</th>
               <th scope="col">Quantity</th>
               <th scope="col">Value $</th>
               <th scope="col">Side</th>
               <th scope="col">Profit $</th>
            </tr>
         </thead>
         {% for trade in all_trades %}
         <tbody>
            <tr style="background-color: aliceblue" class="table-primary">
               <td> "ID" </td>
               <td> {{ trade.coinpair }} </td>
               <td> {{ trade.interval }} </td>
               <td> {{ trade.quantity }} </td>
               <td> {{ trade.portion_size }} </td>
               <td> {{ trade.side }} </td>
               <td> {{ trade.coin_rate }} </td>
               <td> {{ trade.time_now }} </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>

      <div style="width: 20%"></div>
      <table class="table table-sm" style="border:1px solid black">

         <thead>
            <tr class="table-success">
                <th class="align-middle" scope="col">Total profit $</th>
                <th class="align-middle" scope="col"> {{ total_profit }}</th>
            </tr>
         </thead>
      

        </table>
      
      <div class="container">
         <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
               <br>
               <h3>Enter trades manually</h3>
               
               <form name="sentMessage" id="contactForm" action="{{ url_for('welcome') }}" method="post" novalidate>
                  <br>
                  <div class="control-group">
                     <div class="form-group col-xs-12 floating-label-form-group controls">
                        <input type="password" name="password" class="form-control" placeholder="Password" id="phone" required data-validation-required-message="Please enter your phone number.">
                        <p class="help-block text-danger"></p>
                     </div>
                  </div>
                  <div class="control-group">
                     <div class="form-group floating-label-form-group controls">
                        <br>
                        <input type="text" name="coinpair" class="form-control" placeholder="Coin Pair" id="coinpai" required data-validation-required-message="Coin Pair">
                        <p class="help-block text-danger"></p>
                     </div>
                  </div>
                  <div class="control-group">
                     <div class="form-group floating-label-form-group controls">
                        <br>
                        <input type="email" name="interval" class="form-control" placeholder="Interval" id="interval" required data-validation-required-message="Interval">
                        <p class="help-block text-danger"></p>
                     </div>
                  </div>
                  <div class="control-group">
                     <div class="form-group col-xs-12 floating-label-form-group controls">
                        <br>
                        <input type="tel" name="quantity" class="form-control" placeholder="Quantity" id="quantity" required data-validation-required-message="Quantity">
                        <p class="help-block text-danger"></p>
                     </div>
                  </div>
                  <div class="control-group">
                     <div class="form-group floating-label-form-group controls">
                        <br>
                        <input type="text" name="side" class="form-control" placeholder="Side" id="side" required data-validation-required-message="Side">
                        <p class="help-block text-danger"></p>
                     </div>
                  </div>
                  <div class="control-group">
                     <div class="form-group floating-label-form-group controls">
                        <br>
                        <input type="text" name="portion_size" class="form-control" placeholder="Value $" id="portion_size" required data-validation-required-message="portion_size">
                        <p class="help-block text-danger"></p>
                     </div>
                  </div>
                  <br>
                  <div id="success"></div>
                  <button type="submit" class="btn btn-primary" id="sendMessageButton" value="submit">Send</button>
               </form>
            </div>
         </div>
      </div>
   </body>
   <footer>

   </footer>
</html>