<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./static/images/favicon.ico">

    <title>Binance MM Bot</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.3.1/dt-1.11.1/datatables.min.css"/>
    <link rel="stylesheet"  type="text/css" href="https://cdn.cryptofonts.com/1.3.1/cryptofont.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="./static/css/styles.css">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Binance MM Bot</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  Orders (ToDo)
                </a>
              </li>              
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Reports (ToDo)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                  Exchanges (ToDo)
                </a>
              </li>
			  <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Profile (ToDo)
                </a>
              </li>
            </ul>


          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>
          <h2>Account Overview</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Total balance</th>
                  <th>USD Value</th>
                  <th>Your margin level:</th>
                  <th>Total Debt</th>
                  <th>Account Equity:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> {{ account_overview.totalAssetOfBtc }} </td>
                  <td> {{ account_overview.position_value_in_dollar }} </td>
                  <td> {{ account_overview.marginLevel }} </td>
                  <td> {{ account_overview.totalLiabilityOfBtc }} </td>
                  <td> {{ account_overview.totalNetAssetOfBtc }} </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h2>Open Positions</h2>
          <div class="table-responsive">
            <table id="openPositions" class="table table-striped table-sm">
              <thead>
                <tr>
                  <th></th>
                  <th>Coin</th>
                  <th>Side</th>
                  <th>USD Value</th>
                  <th>NetAsset</th>
                  <th>Borrowed</th>
                  <th>Free</th>
                  <th>Interest</th>
                  <th>Locked</th>
                  <th>Has Stop Loss</th>
                </tr>
              </thead>
            </table>
          </div>            
          <h2>Open Orders</h2>
          <div class="table-responsive">
            <table id="openOrders" class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Pair</th>
                  <th>Side</th>
                  <th>Size</th>
                  <th>Limit Price</th>
                  <th>Date and Time</th>
                  <th>OrderID</th>
                </tr>
              </thead>  
            </table>
          </div>
        </main>
      </div>
    </div>
    <!-- Bootstrap JavaScript -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
	    <!-- Icons -->

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.3.1/dt-1.11.1/datatables.min.js">
		</script>
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    <script>
      $(document).ready(function() {
          $('#openOrders').DataTable( {
              "order": [[ 4, "desc" ]],
              'processing': true,
              'bPaginate': false,
              'bLengthChange': false,
              'bFilter': false,
              'bInfo': false,
              'ajax': {
                  'url': '/openorders',
                  'type': 'POST'
              },
                searching: false,
                'columns': [
                { 'data': 'symbol' },
                { 'data': 'side' },
                { 'data': 'origQty' },
                { 'data': 'stopPrice' },
                { 'data': 'updateTime' },
                { 'data': 'orderId' }
              ]
          } );
          var empOpenPositions = $('#openPositions').DataTable({
              "order": [[ 2, "asc" ]],
              'processing': true,
              'bPaginate': false,
              'bLengthChange': false,
              'bFilter': false,
              'bInfo': false,
              'ajax': {
                  'url': '/openpositions',
                  'type': 'POST'
              },
                searching: false,
                'columns': [
                {
                    'data': 'icon',
                    'className': 'dt-center editor-edit',
                    'orderable': false
                },  
                { 'data': 'asset' },
                { 'data': 'side' },
                { 'data': 'position_value_in_dollar' },
                { 'data': 'netAsset' },
                { 'data': 'borrowed' },
                { 'data': 'free' },
                { 'data': 'interest' },
                { 'data': 'locked' },
                {
                    'data': 'has_stop_loss',
                    'className': 'dt-center editor-edit',
                    'orderable': false
                }
              ]
          });
      });

      </script>
	</body>
</html>
